POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

ConnectionStrings__Database=
Jwt__Secret=
Jwt__Issuer=
Jwt__Audience=
Jwt__ExpirationInMinutes=
Google__ClientId=
Minio__Endpoint=
Minio__AccessKey=
Minio__SecretKey=
Minio__BucketName=
Minio__PublicUrl=